
#slider {
  position: relative;
  overflow: hidden;
  margin: 0px auto 0 auto;
  border-radius: 0px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 888px;
  height: 498px;
  background: transparent;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 2;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  color: #fb5e00;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  opacity: 0.1;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 0.2;
  -webkit-transition: all 0.2s ease;
  color: #fff;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  width:62.5833px;
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  width: 160px;
  font-size: 18px;
  display: none;
}
