html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

h2 {
    font-family: Titillium Web, serif !important;
    color: #fb5e00 !important;
}

ul {
    list-style-type: none !important;
}

body {
    background-image: -moz-linear-gradient(180deg,#1ac1f2,#46e28c);
    background-image: -webkit-linear-gradient(180deg,#1ac1f2,#46e28c);
    background-image: linear-gradient(180deg,#1ac1f2,#46e28c);
    overflow: hidden;
    color: #ffffff;
}

a, a:link, a:hover, a:visited, a:active {
    text-decoration: none !important;
}

.logintrig {
    transform: translate(-130%, 0) !important;
}

.center {
    left: 50%;
    transform: translate(-50%, 0%);
}

/* bouncing arrow */
.down{
    position: absolute;
    left: 50%;
    transform:translate(-50%,0%);
    margin-top: -7%;
    display: block;
    font-size: 50px;
    color: #ffffff;
}
/* bouncing arrow ends*/

.menuitems {
    float: left;
    text-align: center;
    display: inline;
    font-family: Titillium Web, serif;
    font-size: 23px;
    font-weight: 400;
    padding: 25px 15px 20px 5px;
    width: 100%;
    text-transform: uppercase;
}

.menuitems div {
    color: #ffffff;
    display: inline-block;
    padding: 2px 0 2px 0;
    margin: 0 20px 0 20px;
    cursor: pointer;
}

.hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

.container1 {
    float: left;
    margin: 1% 0 2% 27%;
    text-align: center;
    display: inline;
    font-family: Titillium Web, serif;
    font-size: 25px;
    width: 65%;
    height: 500px;
    min-height: 37%;
}

.cover {
    background: #fff;
    background-image: none !important;
    color: #fb5e00 !important;
}

.leftmenu {
    text-align: center;
    list-style-type: none;
    float: left;
    margin-top: 20px;
    font-family: Raleway, serif;
}

.leftmenu li {
    padding: 2.5% 0 2.5% 0;
}

.leftmenu span:hover {
    background: #fff;
    color: #252525;
    cursor: pointer;
}

.animation-element {
    padding: 10px 8px 10px 8px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    display: block;
    width: 200px !important;
    position: relative;
    left: -150%;
    background: url('/assets/public/images/net.png') repeat;
}

.menu {
    position: inherit;
    text-align: center;
    margin-left: 110px;
    margin-top: 40px;
    font-family: Raleway, serif;
}

.menu li {
    padding: 1% 0 1% 0;
}

.animation-element1 {
    color: #252525;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    width: 225px !important;
    font-weight: 400;
    display: block;
    background: url('/assets/public/images/net-l.png') repeat;
}

.animation-element1:hover {
    border-left: 4px solid #fb5e00;
    cursor: pointer;
}

.custmodal {
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
}

.custmodal-dialog {
    position: fixed !important;
    margin: 0 !important;
    width: 100% !important;
    height: 100% !important;
    padding: 0;
    overflow: hidden;
}

.custmodal-content {
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0 !important;
    box-shadow: none;
    background-image: url("/assets/public/images/light.png");
    padding-left:10px;
    padding-right:10px;
    overflow: hidden;
}

.custmodal-body {
    text-align:center;
    position: absolute !important;
    height: 75%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

#events, #workshops, #eventide, #retaliation, #ideate, #leaders {
    display: none;
}

#lumiere {
    display: block;
}

#menu4 {
    border-bottom: 3px solid #fb5e00;
}

/* nav icon toggle */

#nav-icon {
    position: fixed;
    margin-left: 25px;
    margin-top: 10px;
    font-size: 30px;
    cursor: pointer;
}

#nav-icon:hover {
    color: #fb5e00;
}

.close {
    font-size: 30px !important;
    color: #fb5e00 !important;
    opacity: 1 !important;
    margin-top: -1%;

}

.socmedia {
    height: 20%;
    width: 20%;
    float: left;
    margin-top: -7%;
    padding-left: 2%;
    -ms-interpolation-mode: bicubic;
}

.socmedia img {
    padding-bottom: 5px;
}

.socmedia img:hover {
    border-bottom: 2px solid #fb5e00;
}

#leaders, #ideate, #eventide p, #retaliation {
    padding: 5px 45px 5px 45px;
    font-family: Titillium Web, serif;
    font-size: 18px !important;
    line-height: 130%;
    color: #fff;
}

#eventide p {
    padding: 5px 72px 5px 72px;
    text-align: justify;
}

.reticon {
    float: left;
    margin-left: -38%;
    margin-top: 15%;
    text-align: center;
    font-size: 25px !important;
}

.reticon i {
    font-size: 150px;
}

.expoicon {
    float: left;
    margin-left: -40%;
    margin-top: 13%;
    text-align: center;
    font-size: 25px;
    line-height: 0;
}

.lumicon {
    float: left;
    margin-left: -31.5%;
    margin-top: 17%;
    text-align: center;
    line-height: 220%;
    font-size: 25px;
}

.eveicon i {
    font-size: 150px;
}

.eveicon {
    float: left;
    margin-left: -27.5%;
    margin-top: 16%;
    text-align: center;
    line-height: 100%;
}

.leadicon{
    float: left;
    margin-left: -37.5%;
    margin-top: 15%;
    text-align: center;
    line-height: 220%;
    font-size: 25px;
}


.about p {
    padding: 5px 45px 5px 45px;
    text-align: justify;
}

#retaliation img {
    height: 20%;
    width: 20%;
    padding: 10px;
    margin: 35px 15px 15px;
    background: url("/assets/public/images/net-l.png");
}

#retaliation img:hover {
background: url("/assets/public/images/net.png");
}

#ideate,#lumiere,#retaliation,#eventide,#leaders{
    background: rgba(20, 0, 70, 0.07);
    height: 100%;
}

#eventide {
    text-align: justify;
}

#anokhamain {
    margin-top: 14%;
    margin-left: 50%;
    transform: translate(-50%, -14%);
    width: 50%;
    min-width: 30%;
    margin-bottom: 16.67%;
    cursor: pointer;
}

.container0 {
    overflow-x: hidden;
    position: absolute;
    height: 100%;
    font-size: 20px;
    top: 0 !important;
    left: 0 !important;
    font-family: Titillium Web, sans-serif;
}

.top-panel {
    font-size: 18px;
    cursor: pointer;
    font-family: Titillium Web, serif;
    display: block;
    position: fixed !important;
    margin-top: 10px;
    left: 88%;
    transform: translate(-50%, 0);
    text-align: right;
    color: #fff;
    border-radius: 0;
    padding: 2px 10px 2px 10px;
    z-index:10;
}


.hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
    color: #fb5e00;
}

.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#logreg {
    margin-top: -50px;
    position: fixed;
    overflow: hidden;
}

.heightfix {
    height: 568px !important;
}

.tabs {
    font-size: 30px;
    position: absolute;
    left: 60%;
    top: 25%;
    color: #252525;
    margin-top: 100px;
}

.tabs span {
    cursor: pointer;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.tabactive {
    border: 1px solid #252525;
}

.tab {
    border: none;
}

.container {
    height: 100%;
}

#signup {
    display: block;
    margin: 5% 0 0 15px;
    font-family: Titillium Web, san-serif, serif;;
    font-weight: 400;
}

#login {
    display: none;
    margin: 15% 0 0 15px;
    font-family: Titillium Web, san-serif, serif;;
    font-weight: 400;
}

#custom-btn {
    text-transform: uppercase;
    font-weight: 400;
    background: transparent;
    border-radius: 0;
    color: #ffffff;
    width: 45%;
    border: 1px solid #ffffff;
}

#custom-btn:hover {
    background-color: #ffffff;
    color: #252525;
}

.form-top {
    overflow: hidden;
    padding: 0 25px 0 25px;
    background: #0C7899;
    background: rgba(0, 0, 0, 0.8);
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    text-align: left;
    font-size: 25px;
}

.form-top-left {
    text-align: left;
    float: left;
    width: 90%;
    padding-top: 18px;
    line-height: 100%;
    padding-left: 0;
    margin-left: -45px;
    font-family: Titillium Web, sans-serif;
    text-transform: uppercase;
}

.form-top-left h3 {
    margin-top: 0;
    color: #fff;
}

.form-top-left p {
    text-indent: 0;
    opacity: 1;
    color: #fb5e00;
}

.form-top-right {
    float: left;
    width: 10%;
    padding-left: 40px !important;
    padding-top: 15px;
    font-size: 37px;
    color: #fff;
    line-height: 100%;
    text-align: center;
    opacity: 1;
}

.form-bottom {
    padding: 0 25px 20px 25px;
    background: #0C7899;
    background: rgba(0, 0, 0, 0.8);
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    text-align: center;
}

.form-bottom form textarea {
    height: 100px;
}

.form-bottom form .input-error {
    border-color: #19b9e7;
}

.input-group-addon {
    position: absolute;
    height: 34px;
    width: 34px !important;
    border: none;
    border-radius: 0;
    background: transparent !important;
}

.input-group-addon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-group input {
    padding-left: 42px;
}

.about {
    margin-top: 10%;
    color: #252525 !important;
    background: #ffffff url("/assets/public/images/light.png");
    font-family: Titillium Web, serif;
    text-align: center;
}

.about img {
    height: 15%;
    width: 15%;
    ms-interpolation-mode: bicubic;
}

#univlogo {
    float: right;
    margin-top: -9%;
    padding-right: 2%;
    cursor: pointer;
    -ms-interpolation-mode: bicubic;
}

/* countdown */
#countdown span {
    font-size: 26px;
    font-weight: normal;
    margin-right: 20px;
    text-align: left;
}

#bottomtxt {
    margin-top: 55%;
}

#countdown {
    margin-top: 52%;
}

/* countdown  ends*/

.schedule, .transport, .sponsors, .contacts {
    display: none;
    color: #252525;
}

.schedule {
    display: block;
}

#schedule {
    border-left: 4px solid #fb5e00;
}

.container2 {
    margin-top: 2%;
    margin-left: 30%;
    width: 60%;
    height: 90%;
    background: rgba(37, 37, 37, 0.1) url("/assets/public/images/net.png");
    padding: 30px 30px 30px 30px;
    font-family: Titillium Web, serif;
}

.container2 p {
    line-height: 120%;
}

.contacts ul {
    display: inline;
}

#event-modal, #workshop-modal, #events, #ws {
    text-align: center !important;
    font-family: Titillium Web, serif !important;
}

#event-modal a, #workshop-modal a, #events a, #ws a {
    color: #252525;
    text-decoration: none !important;
}

.nav-tabs > li, .nav-pills > li {
    float: none !important;
    color: #fb5e00 !important;
    display: inline-block !important;
}

#cust-btn {
    border: 1px solid #252525;
    color: #252525;
    background: none;
    border-radius: 0;
    font-size: 17px;
    text-transform: uppercase;
}

#cust-btn:hover {
    font-weight: 500 !important;
    border: 2px solid #fb5e00;
}

#event-desc, #event-rules, #event-judge, #event-about {
    padding-top: 30px;
}

.modal-body {
    font-size: 16px !important;
    color: #252525 !important;
}

.tab-content {
    overflow-y: scroll;
    text-align: left !important;
}

#event-contact-tab, #event-details-tab {
    text-align: center !important;
}

.tab-content p {
    padding: 10px;
}

/* for squares */

.square {
    float: left;
    position: relative;
    width: 170px;
    height: 170px;
    margin: 10px;
    background-image: url('/assets/public/images/net-l.png');
    overflow: hidden;
    font-size: 17px;
    cursor: pointer;
}

.sqcontent {
    position: absolute;
    height: 90%; /* = 100% - 2*5% padding */
    width: 90%; /* = 100% - 2*5% padding */
    padding: 5%;
    text-transform: capitalize;
}

.sqtable {
    display: table;
    width: 100%;
    height: 100%;
}

.sqtable-cell {
    display: table-cell;
    vertical-align: middle !important;
}

input.form-control {
    padding-left: 34px !important;
}

.sorter {
    cursor: pointer;
}

.sorter > a {
    font-weight: 600;
}

.sorter.active > a {
    color: #FFFFFF !important;
    background-color: #fb5e00 !important;
}
.form-control-feedback {
    line-height: 2;
}

i[data-bv-icon-for="institution"] {
    margin-right: 40px;
}

i[data-bv-icon-for="institution"] {
    margin-right: 40px;
}
/* squares ends*/

#event-grid, #workshop-grid {
    position: relative;
    width: 87%;
    overflow: hidden;
    margin-top: 20px;
    margin-left:auto; margin-right:auto;
}

span.standout {
    color:#FF7518 !important;
}

/* lumiere grid */

.pgrid{
    font-size:0px !important; 
}

.pgrid img{
    width:100%;
}

.g {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden !important;
}

.g li {
    cursor: pointer;
    padding: 0 !important;
}

.speaker {
    margin: 0;
    padding: 0;
    width:33.3%;
    display: inline-block;
    position: relative;
}

.speaker__image { display: block; }

.speaker__body {
  background:rgba(0, 0, 0, 0.65);
  bottom: 0;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.speaker__body:hover { opacity: 1; }

.speaker__body:after,
.speaker__body:before {
  opacity: 0;
  position: absolute;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: 0.6s 0.2s;
  transition: 0.6s 0.2s;
}

.speaker__body:before {
  border-bottom: none;
  border-top: none;
}

.speaker__body:after {
  border-left: none;
  border-right: none;
}

.speaker__body:hover:after,
.speaker__body:hover:before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.speaker__body h1{
        text-transform: uppercase;
        font-size: 19px;
        margin:0px;
        color:#ffffff;
        margin-top:37%;
}

/* lumiere grid ends */

/* sponsors */
.image-list-small {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  text-align: center;
  max-width: 640px;
  padding: 0;
}

.image-list-small li {
  display: inline-block;
  width: 110px;  
  margin: 0 15px 30px;
}


/* Photo */

.image-list-small li > a {
  display: block;
  text-decoration: none;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 120px;
  margin: 0;
  padding: 0;
  box-shadow: 0 2px 1px #DDD;
}

.image-list-small .details {
  margin-bottom: 0px;
}


/* Title */

.image-list-small .details h3 {
  display: block;
  font-size: 12px;
  margin: 0 0 0px 0;
}

.image-list-small .details h3 a {
  color: #303030;
  text-decoration: none;
}

.image-list-small .details .image-author {
  display: block;
  color: #717171;
  font-size: 11px;
  font-weight: normal;
  margin: 0;
}

.sponsors{
    padding: 0;
    margin: 0;
    height: 100%;
    width:100%;
    background: #ffffff;
    overflow-y: scroll; 
}

/* sponsors ends */
